@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui" ;


@plugin "daisyui" {

   themes: autumn --default, dark --prefersdark;

 }

 @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
*{
 font-family: "Exo 2", sans-serif;

} 



/* button settings 👆 */



@media (max-width: 570px) {

.toggle{
  width: 30px;
}
}

/* <div className={`${theme === "light" && "bg-soft-sky"}`}> */

button {
 padding: 15px 25px;
 border: unset;
 border-radius: 15px;
 color: #212121;
 z-index: 1;
 background: #FAC921;
 position: relative;
 font-weight: 800;
 font-size: 17px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
}

button::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 15px;
  background: linear-gradient(to right, #ffffff, #FAC921);
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms
}


button:hover::before {
 width: 100%;
}




.swal2-confirm,
.swal2-cancel {
  transition: none !important; /* disables hover fade */
}

.swal2-confirm {
  background-color: #3085d6 !important; /* confirm button color */
}

.swal2-cancel {
  background-color: #d33 !important; /* cancel button color */
}

.swal2-confirm:hover,
.swal2-cancel:hover,
.swal2-confirm:focus,
.swal2-cancel:focus,
.swal2-confirm:active,
.swal2-cancel:active {
  background-color: inherit !important;
  filter: none !important;
  opacity: 1 !important;
  color: black !important; /* your requested color */
  outline: none !important;
  box-shadow: none !important;
}